{% extends 'base.html' %}

{% block css %}
<!-- iCheck -->
<link href="/static/css/green.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.cascadeselect.js" type="text/javascript"></script>
<script src="/static/js/echarts.js" type="text/javascript"></script>

{% endblock %}

{% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" style="float-left">
                <!--<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>-->
                <div style="height:350px;width:30%" id="piediv">
                </div>
                <div style="height:350px;width:30%" id="piediv2">
                </div>
                <div style="height:350px;width:30%" id="piediv3">
                </div>
            </div>
        </div>
        <!--<div>-->
            <!--<div style="height:350px;width:40%" id="piediv">-->
            <!--</div>-->
            <!--<div style="height:350px;width:40%" id="piediv2">-->
            <!--</div>-->
            <!--<div style="height:350px;width:40%" id="piediv3">-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<script src="/static/js/salt_result.js"></script>


<script language="JavaScript">

<!--function get_data(){-->

        <!--return false;-->

<!--}-->

echartsTest = {
    ZX: function (legendName, _rq, _cpxdata) {
        var myChart = echarts.init(document.getElementById('piediv'));
        option = {
            title: {
                text: "",
                subtext: '单位：个'
            },
            tooltip: {
                trigger: 'axis',
                formatter: "{b} : {c}"
            },
            legend: {
                data: legendName
            },
            toolbox: {
                show: true,
                feature: {
                    //mark: { show: true },
                    //dataView: { show: true, readOnly: false },
                    //magicType: { show: true, type: ['line', 'bar'] },
                    //restore: { show: true },
                    //saveAsImage: { show: true }
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: _rq
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}'
                    }
                }
            ],
            series: _cpxdata
        };
        myChart.setOption(option);
    }

}


echartsTest2 = {
    ZX: function (legendName, _rq, _cpxdata) {
        var myChart = echarts.init(document.getElementById('piediv2'));
        option = {
            title: {
                text: "",
                subtext: '单位：个'
            },
            tooltip: {
                trigger: 'axis',
                formatter: "{b} : {c}"
            },
            legend: {
                data: legendName
            },
            toolbox: {
                show: true,
                feature: {
                    //mark: { show: true },
                    //dataView: { show: true, readOnly: false },
                    //magicType: { show: true, type: ['line', 'bar'] },
                    //restore: { show: true },
                    //saveAsImage: { show: true }
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: _rq
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}'
                    }
                }
            ],
            series: _cpxdata
        };
        myChart.setOption(option);
    }

}

echartsTest3 = {
    ZX: function (legendName, _rq, _cpxdata) {
        var myChart = echarts.init(document.getElementById('piediv3'));
        option = {
            title: {
                text: "",
                subtext: '单位：个'
            },
            tooltip: {
                trigger: 'axis',
                formatter: "{b} : {c}"
            },
            legend: {
                data: legendName
            },
            toolbox: {
                show: true,
                feature: {
                    //mark: { show: true },
                    //dataView: { show: true, readOnly: false },
                    //magicType: { show: true, type: ['line', 'bar'] },
                    //restore: { show: true },
                    //saveAsImage: { show: true }
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: _rq
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}'
                    }
                }
            ],
            series: _cpxdata
        };
        myChart.setOption(option);
    }

}


$(document).ready(function() {
        var data;
        var url = "http://ops.jzhu.cn:9992/monitor/statics_vpn_status/?min=15";
         $(".loading").show();
         $.ajax({
            type:"GET",
            url: url,
            data:{},
            success:function(ret) {
            $(".loading").hide();
            console.log("!!!!!!!!");
            console.log(ret);
            data= ret;
            json_data = JSON.parse( data );
            console.log(json_data);
            var objArray = json_data.data;
                    var dataArray = [];  //纵坐标
            var dataZrray =[];   //横坐标
                    _ysData = [];
                    for (var i = 0; i < objArray.length; i++) {
                        dataArray.push(objArray[i].count);
                dataZrray.push(objArray[i].vpn_code)
                        _ysData.push("rgb(42,170,227)");
                    }
                    _series = [];
                    _series[0] = {
                        name: '15分钟内VPN下单数', type: 'line', data: dataArray, itemStyle: {
                            normal: {
                                lineStyle: {
                                    color: '#0088cc'
                                },
                                color: function (params) {
                                    var colorList = _ysData;
                                    return colorList[params.dataIndex];
                                }
                            },//鼠标悬停时：
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },

                    };

    echartsTest.ZX(['15分钟内VPN下单数'], dataZrray, _series)

            },
            errors:function(e){
                       alert("error");
                   }
            });


            var data;
        var url = "http://ops.jzhu.cn:9992/monitor/statics_vpn_status/?min=30";
         $(".loading").show();
         $.ajax({
            type:"GET",
            url: url,
            data:{},
            success:function(ret) {
            $(".loading").hide();
            console.log("!!!!!!!!");
            console.log(ret);
            data= ret;
            json_data = JSON.parse( data );
            console.log(json_data);
            var objArray = json_data.data;
                    var dataArray = [];  //纵坐标
            var dataZrray =[];   //横坐标
                    _ysData = [];
                    for (var i = 0; i < objArray.length; i++) {
                        dataArray.push(objArray[i].count);
                dataZrray.push(objArray[i].vpn_code)
                        _ysData.push("rgb(42,170,227)");
                    }
                    _series = [];
                    _series[0] = {
                        name: '30分钟内VPN下单数', type: 'line', data: dataArray, itemStyle: {
                            normal: {
                                lineStyle: {
                                    color: '#0088cc'
                                },
                                color: function (params) {
                                    var colorList = _ysData;
                                    return colorList[params.dataIndex];
                                }
                            },//鼠标悬停时：
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },

                    };

        echartsTest2.ZX(['30分钟内VPN下单数'], dataZrray, _series)
            },
            errors:function(e){
                       alert("error");
                   }
            });



            var data;
        var url = "http://ops.jzhu.cn:9992/monitor/statics_vpn_status/?min=45";
         $(".loading").show();
         $.ajax({
            type:"GET",
            url: url,
            data:{},
            success:function(ret) {
            $(".loading").hide();
            console.log("!!!!!!!!");
            console.log(ret);
            data= ret;
            json_data = JSON.parse( data );
            console.log(json_data);
            var objArray = json_data.data;
                    var dataArray = [];  //纵坐标
            var dataZrray =[];   //横坐标
                    _ysData = [];
                    for (var i = 0; i < objArray.length; i++) {
                        dataArray.push(objArray[i].count);
                dataZrray.push(objArray[i].vpn_code)
                        _ysData.push("rgb(42,170,227)");
                    }
                    _series = [];
                    _series[0] = {
                        name: '45分钟内VPN下单数', type: 'line', data: dataArray, itemStyle: {
                            normal: {
                                lineStyle: {
                                    color: '#0088cc'
                                },
                                color: function (params) {
                                    var colorList = _ysData;
                                    return colorList[params.dataIndex];
                                }
                            },//鼠标悬停时：
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },

                    };

    echartsTest3.ZX(['45分钟内VPN下单数'], dataZrray, _series)
            },
            errors:function(e){
                       alert("error");
                   }
            });



});
</script>



{% endblock %}








