{% extends 'base.html' %}

{% block css %}
<!-- iCheck -->
<link href="/static/css/green.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.cascadeselect.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ page_name }}
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="pull-left">

                        <form class="form-inline ng-pristine ng-valid" method="post" action=""
                              enctype="multipart/form-data" name="query_logger_form">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">

                                    <select class="form-control ng-pristine ng-valid" name="host" ng-model="selectItem"
                                            ng-options="d.text for d in dimensions" id="hostname" onChange="change()">
                                        {% if hostname == '' or hostname == '0' %}
                                        <option value="0" selected="selected">请选择主机名</option>
                                        {% else %}
                                        <option value="{{hostname}}" selected="selected">{{hostname}}</option>
                                        {% endif %}

                                        {% for m in all_minions %}
                                        <lable>{{m.nodename}}</lable>
                                        <option value="{{m.hostname}}">{{m.hostname}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">

                                    <select class="form-control ng-pristine ng-valid" name="program_id"
                                            ng-model="selectItem" ng-options="d.text for d in dimensions" id="program_id">
                                        {% if program_id == '0' or program_id == '' %}
                                        <option value="0" selected="selected">请选择程序名</option>
                                        {% else %}
                                        <option value="{{program_id}}" selected="selected">{{program_id}}</option>
                                        {% endif %}

                                        {% for program in programs %}
                                        <option value="{{program.program_id}}">{{program.program_id}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div class="controls input-append date form_datetime"
                                         data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                                        <input size="15" type="text" readonly name="start_time" value="{{start_time}}">
                                        <span class="add-on"><i class="icon-remove"></i></span>
                                        <span class="add-on"><i class="icon-th"></i></span>
                                    </div>
                                    <!--<input type="hidden" id="dtp_input1" value="" /><br/>-->
                                </div>
                                <label>~</label>
                                <div class="form-group">
                                    <div class="controls input-append date form_datetime"
                                         data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                                        <input size="15" type="text" readonly name="end_time" value="{{end_time}}">
                                        <span class="add-on"><i class="icon-remove"></i></span>
                                        <span class="add-on"><i class="icon-th"></i></span>
                                    </div>
                                    <!--<input type="hidden" id="dtp_input1" value="" /><br/>-->
                                </div>
                                <div class="form-group">
                                    <select class="form-control ng-pristine ng-valid" name="lines" ng-model="selectItem"
                                            ng-options="d.text for d in dimensions">
                                        <option value="0">全部</option>
                                        <option value="10" selected="selected">10</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary ng-binding"
                                        id="query"/>
                                {{ query_button }}</button>

                            </fieldset>
                        </form>
                    </div>
                    <div class="x_content">

                        <div class="item form-group">
                            <!--<div class="col-md-6 col-sm-6 col-xs-20">-->
                                <pre class="form-control" >{{ log_content }}</pre>
                            <!--</div>-->
                        </div>
                        <!--<div class="item form-group">-->
                            <!--<h2> 省级联动</h2>-->
                            <!--<div class="city" >-->
                                <!--<select id="SelProvince" class="select"></select>-->
                                <!--<select id="SelCity" class="select"></select>-->
                                <!--<select id="SelArea" class="select"></select>-->
                                <!--<select id="SelXian" class="select"></select>-->
                            <!--</div>-->

                            <!--<h2> 市区联动</h2>-->
                            <!--<div class="city" >-->
                                <!--<select id="Select1" class="select"></select>-->
                                <!--<select id="Select2" class="select"></select>-->
                                <!--<select id="Select3" class="select"></select>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<!-- iCheck --->
<script type="text/javascript" src="/static/js/icheck.min.js"></script>
<!-- jQuery Tags Input -->
<script src="/static/js/jquery.tagsinput.js"></script>
<!-- jQuery Tags Input -->
<script>
    function onAddTag(tag) {
        alert("Added a tag: " + tag);
    }
function onRemoveTag(tag) {
    alert("Removed a tag: " + tag);
}
function onChangeTag(input, tag) {
    alert("Changed a tag: " + tag);
}
$(document).ready(function() {
        $('#tags_add').tagsInput({
width: 'auto'
});
        });


</script>
<script type="text/javascript" src="/static/js/jquery.min.js" charset="UTF-8"></script>
<script src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1,
        defaultDate : new Date()
    });

</script>


<!--<script type="text/javascript">-->
       <!--$(document).ready(function () {-->

            <!--$.fn.CascadeSelect({-->
                <!--url: '/CascadeSelect/CascadeSelect.ashx',  //返回Json数据的一般处理文件-->
                <!--idKey: 'Id',     // 绑定下拉框实际值的字段-->
                <!--nameKey: 'Name', // 绑定下拉框显示值的字段-->
                <!--casTopId: 0,  // 顶级节点ParentId-->
                <!--casCount: 4,  // 级联个数-->
                <!--casObjId: ['SelProvince', 'SelCity', 'SelArea', 'SelXian'], // 级联下拉框id-->
                <!--casDefVal: ['全国', 5, '益阳', 22], // 级联默认值(Id,Name都可以)-->
            <!--});-->

              <!--$.fn.CascadeSelect({-->
                <!--url: '/CascadeSelect/CascadeSelect.ashx',  //返回Json数据的一般处理文件-->
                <!--idKey: 'Id',   // 绑定下拉框实际值的字段-->
                <!--nameKey: 'Name', // 绑定下拉框显示值的字段-->
                <!--casTopId: 1,  // 顶级节点ParentId-->
                <!--casCount: 3, // 级联个数-->
                <!--casObjId: ['Select1', 'Select2', 'Select3'], // 级联下拉框id-->
                <!--casDefVal: [5, '益阳', 22], // 级联默认值(Id,Name都可以)-->
            <!--});-->
        <!--});-->
     <!--</script>-->
<!-- /jQuery Tags Input -->
{% endblock %}
